@use '../abstract' as a;

.feature-section {
  display: grid;
  justify-items: center;
  gap: 4rem;
  padding: 4rem 2rem 4rem;

  &__image{
    border-radius: 0.5rem;
  }

  &__text-area {
    max-width: 30rem;
    display: grid;
    gap: 2rem;
    text-align: center;

    &--header {
      display: grid;
      gap: 0.5rem;
    }
  }

  @include a.breakpoint(large) {
    padding: 4rem 2rem 4.5rem;
  }
}